.cardbody-contact {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 10%;
}

.contact-container {
	width: 90%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: white;
	border-radius: 5px;
	box-shadow: 2px 2px 4px lightgray;
}

.contact-header {
	font-size: 18px;
}

.contact-item {
	font-size: 14px;
	margin: 0;
}

@media (max-width: 600px) {
	.contact-container {
		width: 100%;
		margin-left: 10%;
	}
}
